
.backgroundPage {
    background-image: url("../img/spaceTravel.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.6;
}

.index {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.index h1 {
    font-size: 40px;
    height: 25%;
    color: var(--principal-color);
}

.index h3 {
    font-size: 20px;
    height: 25%;
    color: var(--principal-color);
}

@media only screen and (max-width: 480px) {
    .backgroundPage {
        background-image: url("../img/spaceTravel_opt.webp");
    }

    .index {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1100px) {
    .index h1 {
        font-size: 30px;
    }

    .index h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 850px) {
    .index h1 {
        font-size: 20px;
    }

    .index h3 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 450px) {
    .index h1 {
        font-size: 10px;
    }

    .index h3 {
        font-size: 5px;
    }
}
