@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px/1.6 'Noto Serif', serif;
    background-color: rgb(232, 232, 232);
    color: rgb(28, 28, 28);
    word-wrap: break-word;
}

main {
    width: 100%;
    padding: 50px 0;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: inherit;
    margin-top: auto;
    margin-left: auto;
}

.body {
    margin-right: 15%;
    margin-left: 25%;
    width: 60%;
}

.body.show {
    margin-top: 450px;
}

.body h2 {
    text-decoration: underline #ea5106;
    margin-bottom: 1rem;
    font-size: 30px;
}

.body h4 {
    margin-bottom: 1rem;
    font-size: 15px;
    font-style: italic;
}

.body p {
    width: 80%;
    font-size: 20px;
    padding-left: 5%;
    text-align: justify;
}

.body ul, ol {
    margin-left: 0;
    padding-left: 0;
}

.body li {
    margin-left: 2em;
}

.links a:link {
    color: blu;
}

.links a:visited {
    color: #437A16;
}

.links a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
}

.links a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
}

.links a:active {
    background: #265301;
    color: #CDFEAA;
}

.multimedia {
    border: 1px solid #ea5106;
    border-radius: 4px;
    padding: 5px;
    width: 60%;
    height: 60%;
    margin-left: 10%;
}

.video {
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width: 450px) {
    .body {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .body h2 {
        font-size: 25px;
    }

    .body h4 {
        font-size: 10px;
    }

    .body p {
        width: 90%;
        font-size: 18px;
        padding-left: 1%;
    }

    .multimedia {
        width: 75%;
        height: 70%;
    }

    .video {
        width: 70%;
        height: 25%;
    }

}

