
.ListRequirement ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    font-weight: bold;
}

.ListRequirement ul li::before {
    content: "\1F680";
    display: inline-block;
    padding-right: 40px;
    font-size: 30px;
    line-height: 20px;
    vertical-align: -11px;
    width: 15px;
}
