.nav, header ,h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-btn, .nav-link{
    color: white;
}

header, .menu-container{
    background-color: #ea5106;
}

.menu-btn{
    /*border: solid .1rem #fff;*/
    padding: .5rem;
    transition: all .3s ease;
    cursor: pointer;
}

.menu-btn.anim-btn{
    padding: .1rem;
}

header{
    justify-content: space-around;
}

.nav-item img{
    width: 30px;
}

.nav{
    flex-direction: column;
}

.nav-item{
    list-style: none;
    padding: 1rem;
}

.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-container{
    position: absolute;
    left: -100%;
    width: 10%;
    height: 80vh;
    top: 80px;
    padding-top: 2rem;
    transition: all .7s ease-in-out;
}

.menu-container.show{
    top: 4%;
    left: 0;
    width: 100%;
    height: 50%;
}

h1{
    height: 70vh;
}

@media (min-width:480px){
    .menu-btn{
        display: none;
    }

    .menu-container{
        position: inherit;
        width: inherit;
        height: inherit;
        padding-top: 0;
    }

    .nav{
        flex-direction: row;
    }

    .nav-link{
        font-size: 1.2rem;
        font-weight: 400;
    }
}
